body {
    background-image: linear-gradient(to right, #f0f0f0, #c0c0c0); /* Replace these colors with your desired gradient */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   

 
  }